name: Build

on:
  push:
  #pull_request:
  workflow_dispatch:

jobs:
  build-linux:
    name: build-${{ matrix.distro }}-${{ matrix.arch.arch }}
    runs-on: ${{ matrix.arch.os }}

    strategy:
      fail-fast: false
      matrix:
        distro:
          - ubuntu:20.04
          - ubuntu:22.04
          - ubuntu:24.04
          #- debian10
          #- debian11
          #- debian12
          #- debian13
        arch:
          - arch: x86
            arch_name: i386
            os: ubuntu-latest
            build: ./compile_nfs
          - arch: arm
            arch_name: armhf
            os: ubuntu-24.04-arm
            build: ./compile_nfs cpp
        

    # 关键：让 job 在指定镜像内跑
    container:
      image: ${{ matrix.distro }}
    env:
      DEBIAN_FRONTEND: noninteractive

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          dpkg --add-architecture ${{ matrix.arch.arch_name }}
          apt-get update
          apt-get install libsdl2-dev:${{ matrix.arch.arch_name }} gcc-multilib yasm -y

      - name: Compile
        shell: bash
        run: |
          echo "Distro: ${{ matrix.distro }}"
          echo "Arch:   ${{ matrix.arch }}"
          uname -a
          ${{ matrix.arch.build }}

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: build-${{ matrix.distro }}-${{ matrix.arch.arch}}
          path: 'Need For Speed II SE'
